*{
	font-family: sans-serif;
}
/*  your css code here. If applicable */

#animal-photos{
	background-color: #444444;
}
img{
	width:150px;
}
#img-container{
display: grid;
 	grid-template-columns: repeat(3,1fr);
	justify-items: center;
	align-items: center;
background-color: red;
	row-gap: 10px;
}

